body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
.header {
    text-align: center;
}
.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}
.grid div {
    padding: 10px;
}